@import 'normalize.scss';


$colorMainBackground: #a2a0b1;
$colorFront: #2ecc71;
$colorBack: #647687;
$colorFontDark: #2c3e50;
$colorFontLight: #eee;


* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

body,
html {
    height: 100%;
    background-color: $colorMainBackground;
    overflow: hidden;
}
