<link rel="stylesheet" href="gamefield.css">

<div class='gamefield'>
    <div class='gamefield__row'>
        <div class='gamefield__cell gamefield__cell_ai'></div>
        <div class='gamefield__cell gamefield__cell_ai'></div>
        <div class='gamefield__cell gamefield__cell_ai'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
    </div>

    <div class='gamefield__row'>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell gamefield__cell_user'></div>
        <div class='gamefield__cell gamefield__cell_user'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
    </div>

    <div class='gamefield__row'>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
    </div>

    <div class='gamefield__row'>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
    </div>

    <div class='gamefield__row'>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
    </div>

    <div class='gamefield__row'>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
    </div>

    <div class='gamefield__row'>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
        <div class='gamefield__cell'></div>
    </div>
</div>
