@import '../base/general.scss';


$border-width: 8px;
$border-radius: 20px;


.button {
    position: relative;
    top: 0;

    border-bottom-width: $border-width;
    padding: 10px 15px;

    color: lighten($colorFront, 35%);
    font-family: 'Sans-Serif';
    font-weight: bold;
    font-size: 1.5rem;

    border-radius: $border-radius;
    border-style: solid;
    border-bottom-color: darken($colorFront, 10%);
    background-color: $colorFront;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: top, border-bottom-width;
    transition-timing-function: ease-out;

    &:hover {
        color: lighten($colorFront, 40%);
    }

    &:active {
        top: $border-width;
        border-bottom-width: 0;
    }
}
