:host {
  display: none;
}

.shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.animate {
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animate_long {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
}

.animate_fast {
  animation-duration: 0.5s;
}

.animate_show {
  animation-name: anim-show;
}

.animate_hide {
  animation-name: anim-hide;
}

.animate_up {
  animation-name: anim-up;
}

.animate_down {
  animation-name: anim-down;
}

@keyframes anim-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anim-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes anim-down {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes anim-up {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}
