<link rel='stylesheet' href='main.css'>

<div class="main">

    <div class="main__top-bar">
        <button class='button'>≡ Меню</button>
    </div>

    <div class="main__content">
        <div class='gamefield'>
            <div class='gamefield__row'>
                <div class='gamefield__cell gamefield__cell_ai'></div>
                <div class='gamefield__cell gamefield__cell_ai'></div>
                <div class='gamefield__cell gamefield__cell_ai'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
            </div>

            <div class='gamefield__row'>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_user'></div>
                <div class='gamefield__cell gamefield__cell_user'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
            </div>

            <div class='gamefield__row'>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
            </div>

            <div class='gamefield__row'>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
            </div>

            <div class='gamefield__row'>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
            </div>

            <div class='gamefield__row'>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
            </div>

            <div class='gamefield__row'>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
                <div class='gamefield__cell gamefield__cell_empty'></div>
            </div>
        </div>
    </div>

    <div class="main__info info">
        <div class="info__level label">Сложность: Средний</div>
        <div class="info__step label">Ход: AI</div>
    </div>

</div>
