<link rel='stylesheet' href='menu.css'>


<div class='menu'>

    <div class='menu__form'>
        <div class='menu__row'>
            <div class='menu__cell'>
                <div class='label'>Выберите цвет AI:</div>
            </div>
            <div class='menu__cell'>
                <div class='color-picker'>
                    <input class='color-picker__value' type='text' value='#ff22d1'>
                    <div class='color-picker__color'></div>
                </div>
            </div>
        </div>

        <div class='menu__row'>
            <div class='menu__cell'>
                <div class='label'>Выберите цвет игрока:</div>
            </div>
            <div class='menu__cell'>
                <div class='color-picker'>
                    <input class='color-picker__value' type='text' value='#ff22d1'>
                    <div class='color-picker__color'></div>
                </div>
            </div>
        </div>

        <div class='menu__row'>
            <div class='menu__cell'>
                <div class='level-picker__label label'>Уровень сложности:</div>
            </div>
            <div class='menu__cell'>
                <div class='level-picker'>
                    <select class='level-picker__select'>
                        <option>Глупый</option>
                        <option>Лёгкий</option>
                        <option selected>Средний</option>
                        <option>Сложный</option>
                        <option>Умный</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="menu__save-reset">
            <button class='button'>↻ Начать заново</button>
    </div>

</div>




