@import '../base/general.scss';
@import '../label/label.css';


.color-picker {
  display: flex;
  align-items: center;
}


.color-picker__label {
  padding-right: 10px;
}


.color-picker__value {
  margin-right: 10px;
  border-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;

  font-family: 'Courier';
  background-color: $colorBack;
  color: $colorFontLight;

  border-color: $colorBack;
  border-style: solid;
  transition-duration: 0.2s;
  transition-property: border-color;
  transition-timing-function: easy-out;

  &:focus {
    border-color: $colorFront;
  }
}


.color-picker__color {
  width: 30px;
  height: 30px;
  background-color: $colorFront;
}


