@import '../base/general.scss';
@import '../label/label.css';


.level-picker {
  display: flex;
  align-items: center;
}


.level-picker__select {
  border-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;

  font-family: 'Courier';

  background-color: $colorBack;
  border-color: $colorBack;
  border-style: solid;
  border-radius: 4px;
  color: $colorFontLight;

  transition-duration: 0.2s;
  transition-property: border-color;
  transition-timing-function: easy-out;

  &:focus {
    border-color: $colorFront;
  }
}


